/* Header.module.css */

.header {
    background-color: #7D4F50;
    color: #F9EAE1;
    height: 20px;
    padding: 2em 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height:80px;
    width: auto;
    display: block;
}


.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    display: inline-block;
    margin: 0 1px;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #F9EAE1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #fff;
}

/* Estilos para os links de autenticação */
.authLink {
    color: #D1BE9C; /* Cor inicial do texto */
    text-decoration: none; /* Remove sublinhado padrão */
    position: relative; /* Necessário para posicionar a linha */
    padding-bottom: 5px; /* Espaço para a linha */
    transition: color 0.3s ease; /* Transição suave na cor */
}

.authLink::after {
    content: ''; /* Conteúdo vazio (obrigatório para ::after) */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Largura inicial da linha */
    height: 2px; /* Espessura da linha */
    background-color: #F9EAE1; /* Cor da linha */
    transition: width 0.3s ease; /* Transição suave na largura */
}

.authLink:hover {
    color: #F9EAE1; /* Cor do texto no hover */
}

.authLink:hover::after {
    width: 100%; /* Largura da linha no hover */
}